<div class="main-content">
    <div class="container-fluid">

    <div style="display: flex; flex-direction: row;justify-content: flex-end; margin: 15px;">
        <button type="submit" class="btn btn-success btn-fill" data-toggle="modal" data-target="#exampleModalCenter"
            (click)="addRegisterSublevel(sublevel)">
            Agregar subnivel
        </button>
    </div>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ isEdit == false ? 'REGISTRAR NIVEL' : 'EDITAR NIVEL'  }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="content">
                                    <form #formulariosublevel="ngForm" method="get" action="/" class="form-horizontal"
                                        novalidate
                                        (ngSubmit)="saveSublevel(formulariosublevel.value, formulariosublevel.valid)">
                                        <div class="form-group">
                                            <div class="col-sm-2">
                                                <label class="control-label">ID<span class="star">*</span></label>
                                                <input readonly id="sublevel_id" type="text" class="form-control"
                                                    name="sublevel_id" placeholder="ej. Inicial"
                                                    [ngModel]="sublevel.sublevel_id" required #sublevel_id="ngModel">
                                                <small
                                                    [hidden]="sublevel_id.valid || (sublevel_id.pristine && !formulariosublevel.submitted)"
                                                    class="text-danger">
                                                    Obligatorio
                                                </small>
                                            </div>
                                            <div class="col-sm-3">
                                                <label class="control-label">Nivel<span class="star">*</span></label>
                                                <select [(ngModel)]="sublevel.level_id" name="level_id" id="level_id"
                                                    class="form-control">
                                                    <option>Selecciona una opción</option>
                                                    <option [selected]="sublevel.level_id == level.level_id"
                                                        *ngFor="let level of arrayLevels" [value]="level.level_id">
                                                        {{level.level_name}}
                                                    </option>
                                                </select>
                                                <small
                                                [hidden]="sublevel.level_id || (sublevel_name.pristine && !formulariosublevel.submitted)"
                                                class="text-danger">
                                                Obligatorio /<i> sin carácteres especiales </i>
                                            </small>

                                            </div>
                                            <div class="col-sm-3">
                                                <label class="control-label">Subnivel<span class="star">*</span></label>
                                                <input id="sublevel_name" type="text" class="form-control"
                                                    name="sublevel_name" placeholder="ej. Inicial"
                                                    [ngModel]="sublevel.sublevel_name" required
                                                    #sublevel_name="ngModel">
                                                <small
                                                    [hidden]="sublevel_name.valid || (sublevel_name.pristine && !formulariosublevel.submitted)"
                                                    class="text-danger">
                                                    Obligatorio /<i> sin carácteres especiales </i>
                                                </small>
                                            </div><br>
                                            <label class="col-sm-1 control-label">Estado<span
                                                    class="star">*</span></label>
                                            <div class="checkbox col-sm-1">
                                                <div class="checkbox">
                                                    <input id="sublevel_status" name="sublevel_status"
                                                        [ngModel]="sublevel.sublevel_status" #sublevel_status="ngModel"
                                                        type="checkbox">
                                                    <label class="" for="sublevel_status">
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-2">
                                                <button type="submit"
                                                    class="btn btn-success btn-fill">{{ isEdit == false ? 'AGREGAR' : 'EDITAR'  }}</button>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-fill btn-xs btn-danger btn-icon"
                        data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="content">
                        <div class="fresh-datatables">
                            <table id="datatablesSubLevel" class="table table-striped table-no-bordered table-hover"
                                cellspacing="0" width="100%" style="width:100%">
                                <thead>
                                    <tr>
                                        <th *ngFor="let item of dataTable.headerRow">{{ item }}</th>
                                    </tr>
                                </thead>

                                <tbody id="tBodyLevel">
                                    <tr *ngFor="let sublevel of arraySublevels; let i = index">
                                        <td>{{i+1}}</td>
                                        <td>{{sublevel.level_name}}</td>
                                        <td>{{sublevel.sublevel_name}}</td>
                                        <td>
                                            <ng-container *ngIf="sublevel.sublevel_status==true; else elseEstado">
                                                <button class="btn btn-success btn-fill btn-xs">
                                                    <i class="fa fa-check"></i>
                                                </button>
                                            </ng-container>
                                            <ng-template #elseEstado>
                                                <button class="btn btn-danger btn-fill btn-xs">
                                                    <i class="fa fa-close"></i>
                                                </button>
                                            </ng-template>
                                        </td>
                                        <td class="text-right">
                                            <div class="btn-group">
                                                <button (click)="editSublevel(sublevel)"
                                                    class="btn btn-fill btn-xs btn-warning btn-icon" data-toggle="modal"
                                                    data-target="#exampleModalCenter">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button (click)="deleteSublevel(sublevel)"
                                                    class="btn btn-fill btn-xs btn-danger btn-icon">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>