.container {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.cssRow {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cardheadermatOne {
    width: 100%;
    background: #4B93FF;
    min-height: 45px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.cardheadermatTwo {
    width: 100%;
    background: #00ba56;
    min-height: 45px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.cardheadermatThre {
    width: 100%;
    background: #a64bff;
    min-height: 45px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.cardheadermatFour {
    width: 100%;
    background: #ff3370;
    min-height: 45px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.cssNames {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    margin: 17px 40px auto;
}

.cardheaderNamesmatOne {
    width: 100%;
    background: #4B93FF;
    min-height: 103px;
}
.cardheaderNamesmatTwo {
    width: 100%;
    background: #00ba56;
    min-height: 103px;
}
.cardheaderNamesmatThre  {
    width: 100%;
    background: #a64bff;
    min-height: 103px;
}
.cardheaderNamesmatFour  {
    width: 100%;
    background: #ff3370;
    min-height: 103px;
}
.cssColum {
    width: 590px;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.cssColum2 {
    max-width: 585px;
}

/*Cards*/
.cardSubjectitle {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
.cardSubject {
    max-width: 400px;
    width: 100%;
    background: white;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.3);
    padding: 26px 19px;
    min-height: 297px;
    margin-bottom: 5px;
    border-radius: 4px;
}

.cardContent {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 28px;
    max-width: 165px;
    float: left;
}

.cardContentClass {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 28px;
    max-width: 373px;
    width: 100%;
    height: 135px;
    float: left;
    margin: 20px;
    margin-left: 31px;
}

.cardfooter {
    border-top: 0.5px solid #CDCDCD;
    height: 40px;
    display: inline-block;
    width: 100%;
}

.cardContent .dates {
    margin-top: calc(50% - 20px/2 - 20.5px);
    height: 40px;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}

.cssDates {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.01em;
    color: #90A0B7;
}
.cssClass {
    height: 24px;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    margin-top: 20px;
}
.cardSubject:hover,
.cardSubject:focus {
    box-shadow: 0 1px 8px 0 #4B93FF;
    border: 1px solid rgba(63, 63, 68, 0.005);
}
.csslogomatOne {
    max-width: 170px;
    width: 100%;
    background: #4B93FF;
    padding: 20px 19px;
    min-height: 176px;
    margin-bottom: 5px;
    border-radius: 6px; 
    float: right;
}
.csslogomatTwo {
    max-width: 170px;
    width: 100%;
    background: #00ba56;
    padding: 20px 19px;
    min-height: 176px;
    margin-bottom: 5px;
    border-radius: 6px; 
    float: right;
}

.csslogomatThre {
    max-width: 170px;
    width: 100%;
    background: #a64bff;
    padding: 20px 19px;
    min-height: 176px;
    margin-bottom: 5px;
    border-radius: 6px; 
    float: right;
}

.csslogomatFour {
    max-width: 170px;
    width: 100%;
    background: #ff3370;
    padding: 20px 19px;
    min-height: 176px;
    margin-bottom: 5px;
    border-radius: 6px; 
    float: right;
}

.img-subject {
    width: 80px;
  }
.cardClass {
    max-width: 630px;
    width: 100%;
    border: 1px solid #109CF1;
    background: white;
    box-shadow: 0 1px 8px 0 #4B93FF;
    padding: 9px 19px;
    min-height: 276px;
    margin: 20px;
    border-radius: 4px;
}

.cardContent .footer {
    margin-top: 23px;
    height: 40px;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px
}
/* checkbox*/
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #5DB64F !important;
    border: none !important;
  }

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background  {
    background-color:#5DB64F !important;
    border: none !important;
  }

  ::ng-deep .mat-checkbox .mat-checkbox-frame {
    border: 1px solid  #FF0000;
    border-radius: 15px;
}

@media (min-width: 701px) {
    .cssColum {
        width: 45%;
    }
}


/*Bar*/
.barBackgroud {
    height: 4px;
    width: 118px;
    background: #EEEEEE;
    border-radius: 15px;
    float: right;
    margin: 6px;
}
.barprogres {
    height: 4px;
    background: #10F14F;
    border-radius: 15px;
}
