<div>
	<img src="../../../../assets/img/mat.png" width="100%" alt="">
	<div class="main-content">
		<h1 class="titulo">
			MI CUENTA
		</h1>
		<hr>
		<div class="row" *ngIf="infoUser">
			<div class="col-md-6">
				<h3 class="titulo">NOMBRE</h3>
				<p>{{infoUser.student_name | uppercase}}</p>
				<br>
				<h3 class="titulo">APELLIDO</h3>
				<p>{{infoUser.student_lastname | uppercase}}</p>
				<h3 class="titulo">EMAIL</h3>
				<h3 class="titulo">CLAVE DE ACCESO</h3>
				<p>{{hashPassword(infoUser.student_pass)}}</p>
				<a href="javascript:void(0)"
				   (click)="showModal()">Cambiar Clave</a>
			</div>
			<div class="col-md-6">
				<div class="avatar">
					<div class="avatar-text" [title]="infoUser.student_name">
						{{infoUser.student_name | uppercase}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- MODAL -->
<div class="modal fade" id="modalChange"
	 tabindex="-1"
	 role="dialog"
	 aria-labelledby="modalChange"
     aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button"
						class="close"
						data-dismiss="modal"
						aria-label="Close"><span
						aria-hidden="true">&times;</span></button>
				<h4 class="modal-title"
					id="myModalLabel">
					<i class="fa fa-plus"></i>
					CAMBIO DE CONTRASEÑA
				</h4>
			</div>
			<div class="modal-body" style="position: initial; overflow-y:auto;">
				<form [formGroup]="passForm"
					  (ngSubmit)="changePass()">
					<div class="form-group">
						<label>
							Contraseña
						</label>
						<input type="password"
						       class="form-control"
						       formControlName="pass1"
						       placeholder="*********"
						       [class.is-invalid]="pass1.touched && pass1.invalid">
						<small *ngIf="(pass1.dirty || pass1.touched) && pass1.invalid && pass1.errors.required"
							   class="text-danger">
							Contraseña requerida
						</small>
					</div>
					<div class="form-group">
						<label>
							Repetir Contraseña
						</label>
						<input type="password"
						       class="form-control"
						       formControlName="pass2"
						       placeholder="*********"
						       [class.is-invalid]="pass2NoValido">
						<span *ngIf="pass2NoValido"
							  class="text-danger">
							* Ambas contraseñas deben coincidir
						</span>
					</div>
					<div class="form-group">
						<button type="submit"
								[disabled]="!passForm.valid"
								class="btn btn-fill btn-block btn-success">
							ACEPTAR
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
