.header-title {
  width: 100%;
  background-color: white;
  height: 15%;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.card-report {
  margin: 3rem;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 4rem;
  background-color: orange;
}