.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* add-user.component.css */

/* Estilo para el contenedor del formulario */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  /* Estilo para el formulario */
  form {
    width: 100%;
    max-width: 400px; /* Ancho máximo del formulario */
    background-color: #fff; /* Color de fondo del formulario */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
  }
  
  /* Estilo para los campos del formulario */
  mat-form-field {
    width: 100%;
    margin-bottom: 15px; /* Espacio entre campos */
  }
  
  /* Estilo para los botones de acción */
  .actions-container {
    display: flex;
    justify-content: flex-end; /* Alinear botones a la derecha */
    margin-top: 20px;
  }
  
  /* Estilo para el botón de guardar */
  button[type="submit"] {
    margin-left: 8px; /* Espacio entre botones */
  }
  
  /* Estilo para los errores de validación */
  mat-error {
    font-size: 12px;
    color: #f44336; /* Color rojo para errores */
  }
  
  /* Estilo para el slide toggle */
  mat-slide-toggle {
    margin-bottom: 15px;
  }
  
  /* Estilo para el título del formulario */
  mat-card-title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  /* Estilo para el botón de cancelar */
  button[mat-button] {
    margin-left: 8px; /* Espacio entre botones */
  }
  
  /* Estilo para el fondo del card */
  mat-card {
    border-radius: 8px;
  }
  