<!-- <p>parameter-register works!</p> -->

<div class="parameters-register-container">
  <form
    action=""
    class="form"
    [formGroup]="parameterForm"
    (ngSubmit)="onSubmit()"
  >
    <div formArrayName="sections" class="parameterSections">
      <!-- class="parameterSections-list" -->
      <div
        *ngFor="let section of sections.controls; let i = index"
        [class]="i === 0 ? 'first-form-row' : ''"
      >
        <div
          [formGroupName]="i"
          [class]="i === 0 ? 'first-form-row-content' : ''"
        >
          <div *ngIf="i === 0" class="form-content-header">
            <h5 class="title">
              {{ parameterToEdit ? "Metrica" : "Nombre de la metrica" }}
            </h5>
            <form [formGroup]="parameterForm" class="fields">
              <label class="label-name">
                Nombre del parametro
                <input
                  type="text"
                  class="input parameter-name"
                  placeholder="Ingresar el nombre"
                  formControlName="name"
                />
              </label>
              <label class="label-level">
                Nivel
                <select class="select" formControlName="level">
                  <option [value]="level.level_id" *ngFor="let level of levels">
                    {{ level.level_name }}
                  </option>
                </select>
              </label>
            </form>
          </div>
          <!-- [nzTitle]="getSectionName(i)"  -->
          <!-- class="parameter-card invalid" -->
          <ng-template #headerTemplate>
            <div
              class="
                section-header-texts 
                  {{
                getSectionName(i) === 'Escribir Titulo de la Metrica'
                  ? 'not-add'
                  : ''
              }} 
              "
            >
              <!-- <p>{{ getSectionName(i) }}</p> -->
              <!-- placeholder="Escribir Titulo&#10; de la Metrica" -->
              <input
                placeholder="Escribir Titulo de la Metrica"
                formControlName="name"
                (ngModelChange)="changeName()"
                class="card-title {{ i === 0 ? 'disabled' : '' }}"
                [disabled]="i === 0"
              />
              <p>{{ getSectionType(i) }}</p>
            </div>
          </ng-template>
          <ng-template #extraTemplate>
            <a nz-dropdown [nzDropdownMenu]="menu">
              Más
              <span nz-icon nzType="down"></span>
            </a>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <div class="sections-options">
                <label
                  nz-checkbox
                  formControlName="constant"
                  *ngIf="
                    getSectionType(i) !== 'Resultado' &&
                    getSectionType(i) !== 'Calculo'
                  "
                  (click)="changeRequiredStatus(i)"
                >
                  Constante
                </label>
                <!-- <i
                  title="Eliminar parametro"
                  class="fa fa-trash form-section-delete-button"
                  aria-hidden="true"
                  (click)="removeSection(i)"
                  *ngIf="i > 0"
                  ></i> -->
                <span
                  title="Eliminar parametro"
                  class="form-section-delete-button"
                  aria-hidden="true"
                  (click)="removeSection(i)"
                  *ngIf="i > 0"
                >
                  Eliminar
                </span>
              </div>
            </nz-dropdown-menu>
          </ng-template>
          <nz-card
            [nzTitle]="headerTemplate"
            [nzExtra]="extraTemplate"
            class="
              parameter-card 
              {{
              i > 0 ? (calcSubsectionItemsValidator(i) ? 'invalid' : '') : ''
            }}
            "
          >
            <!-- <nz-card-meta [nzDescription]="sections.controls[i].controls['type'].value"></nz-card-meta> -->
            <div class="parameter-card-body">
              <div
                nz-card-grid
                *ngIf="
                  getSectionType(i) !== 'Calculo' &&
                  getSectionType(i) !== 'Resultado Ideal'
                "
              >
                <label class="value__label">
                  Valor
                  <!-- [nzMax]="10"  -->
                  <nz-input-number
                    [nzMin]="getMin(i)"
                    [nzMax]="getMax(i)"
                    [nzStep]="1"
                    nzPlaceHolder="Sin valor"
                    [nzDisabled]="getSectionConstant(i) ? false : true"
                    formControlName="value"
                    *ngIf="getSectionType(i) === 'Número'"
                  ></nz-input-number>

                  <!-- <input 
                  nz-input 
                  placeholder="Sin valor" 
                  type="text" 
                  [nzDisabled]="getSectionConstant(i) ? false : true" 
                  formControlName="value" 
                  *ngIf="getSectionType(i) === 'Texto'"
                /> -->
                  <textarea
                    rows="2"
                    nz-input
                    [placeholder]="
                      i === 0
                        ? 'Por favor ingrese la información que servira como detalle de esta métrica'
                        : 'Sin valor'
                    "
                    type="text"
                    [nzDisabled]="getSectionConstant(i) ? false : true"
                    formControlName="value"
                    *ngIf="getSectionType(i) === 'Texto'"
                  ></textarea>

                  <nz-switch
                    [ngModel]="true"
                    nzCheckedChildren="Verdadero"
                    nzUnCheckedChildren="Falso"
                    formControlName="value"
                    [nzDisabled]="getSectionConstant(i) ? false : true"
                    *ngIf="getSectionType(i) === 'Verdadero/Falso'"
                  ></nz-switch>
                </label>
              </div>
              <div
                nz-card-grid
                class="nz-card-grid-number"
                *ngIf="getSectionType(i) === 'Número'"
              >
                <label class="label_type">
                  Tipo
                  <nz-select
                    nzAllowClear
                    nzPlaceHolder="Selecciona"
                    nzShowSearch
                    formControlName="unitOfMeasurement"
                  >
                    <nz-option-group
                      *ngFor="let unitGroup of unitsOfMeasurement"
                      [nzLabel]="unitGroup.group"
                    >
                      <nz-option
                        *ngFor="let unit of unitGroup.options"
                        [nzValue]="unit"
                        [nzLabel]="unit"
                      ></nz-option>
                    </nz-option-group>
                  </nz-select>
                </label>
                <div>
                  <label>
                    Minimo
                    <!-- [nzMin]="1"  -->
                    <nz-input-number
                      [nzStep]="1"
                      nzPlaceHolder="0"
                      formControlName="min"
                    ></nz-input-number>
                  </label>
                  <label>
                    Maximo
                    <!-- [nzMin]="1"  -->
                    <nz-input-number
                      [nzStep]="1"
                      nzPlaceHolder="0"
                      formControlName="max"
                    ></nz-input-number>
                  </label>
                </div>
              </div>
              <div
                nz-card-grid
                *ngFor="
                  let calcSubsection of section.controls['calcSubsectionItems']
                    .value;
                  let n = index
                "
                draggable="true"
                (dragstart)="onDragStart(n)"
                (dragover)="onDragOver($event)"
                (drop)="onDrop(i, n)"
                class="calcSubsectionItem different-{{
                  diferenceSectionTypeOf(calcSubsection)
                }}"
              >
                <!-- <span nz-icon nzType="close-circle" nzTheme="outline" class="remove" ></span> -->
                <span
                  nz-icon
                  nzType="close"
                  nzTheme="outline"
                  class="remove"
                  title="Remover"
                  (click)="removeCalcSubsection(i, n)"
                ></span>
                <span>
                  <!-- {{ 
                  calcSubsection.name ? 
                  calcSubsection.name :
                  calcSubsection
                }}  -->
                  {{ diferenceSection(calcSubsection) }}
                </span>
              </div>
              <div
                nz-dropdown
                [nzDropdownMenu]="menu"
                nz-card-grid
                *ngIf="
                  getSectionType(i) === 'Resultado' ||
                  getSectionType(i) === 'Calculo'
                "
              >
                <span>
                  <i class="fa fa-plus-circle" aria-hidden="true"> </i>
                </span>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                  <ul nz-menu>
                    <!-- *ngFor="let calcItem of typesOfCalcSubsections" -->
                    <li
                      nz-submenu
                      [nzTitle]="'Variable'"
                      class="calc-options-details"
                    >
                      <ul>
                        <!-- option.value.name.length > 0 ? addCalcSubsection(i, option.value) : false; -->
                        <div
                          *ngFor="
                            let option of sections.controls;
                            let j = index
                          "
                        >
                          <li
                            *ngIf="
                              option.value.type === 'Número' ||
                              option.value.type === 'Calculo'
                            "
                            nz-menu-item
                            class="{{ i === j ? 'dont-show' : '' }} {{
                              option.value.name.length > 0 ? '' : 'not-add'
                            }} "
                            (click)="
                              option.value.name.length > 0
                                ? addCalcSubsection(i, j)
                                : false
                            "
                          >
                            {{
                              option.value.name !== ""
                                ? option.value.name
                                : "-SIN NOMBRE"
                            }}
                          </li>
                        </div>
                      </ul>
                    </li>
                    <li
                      nz-submenu
                      [nzTitle]="typesOfCalcSubsections[1].label"
                      class="calc-options-details"
                    >
                      <ul>
                        <li
                          nz-menu-item
                          *ngFor="
                            let option of typesOfCalcSubsections[1].options;
                            let j = index
                          "
                          (click)="
                            option !== '' ? addCalcSubsection(i, option) : false
                          "
                        >
                          {{ option !== "" ? option : "-SIN NOMBRE" }}
                        </li>
                      </ul>
                    </li>
                  </ul>
                </nz-dropdown-menu>
              </div>
              <!-- <div nz-card-grid>Content</div>
            <div nz-card-grid>Content</div>
            <div nz-card-grid>Content</div> -->
            </div>
            <nz-collapse
              *ngIf="
                getSectionType(i) === 'Resultado' ||
                getSectionType(i) === 'Calculo'
              "
            >
              <!-- <nz-collapse-panel [nzHeader]="Formula" [nzActive]="panel.active" [nzDisabled]="panel.disabled"> -->
              <nz-collapse-panel
                [nzHeader]="'Formula'"
                [nzActive]="
                  section.value.calcSubsectionItems.length > 0 ? true : false
                "
              >
                <span
                  *ngFor="let subSecion of section.value.calcSubsectionItems"
                  class="
                    {{
                    diferenceSectionTypeOf(subSecion) === 'string'
                      ? 'operation-color'
                      : ''
                  }}
                  "
                >
                  {{
                    diferenceSectionTypeOf(subSecion) === "string"
                      ? getOperationType(subSecion)
                      : diferenceSection(subSecion)
                  }}
                </span>
              </nz-collapse-panel>
            </nz-collapse>
          </nz-card>
        </div>
      </div>
      <button
        nz-button
        nzType="primary"
        nz-dropdown
        [nzDropdownMenu]="menu"
        type="button"
      >
        Agregar Parametro
      </button>

      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li
            nz-menu-item
            *ngFor="let type of typesOfParametersSections"
            (click)="addSection(type)"
          >
            {{ type }}
          </li>
        </ul>
      </nz-dropdown-menu>
    </div>
    <ng-template #headerTemplate2>
      <div class="section-header-texts">
        <p class="finalResult_p">Resultado Final</p>
        <!-- <p>{{ getSectionType(i) }}</p> -->
      </div>
    </ng-template>
    <nz-card
      [nzTitle]="headerTemplate2"
      class="parameter-card
    {{ calcSubsectionItemsValidator() ? 'invalid' : '' }}
    "
    >
      <!-- <nz-card-meta [nzDescription]="sections.controls[i].controls['type'].value"></nz-card-meta> -->
      <div class="parameter-card-body">
        <div
          nz-card-grid
          *ngFor="let calcSubsection of finalResult.value; let n = index"
          draggable="true"
          (dragstart)="onDragStart(n)"
          (dragover)="onDragOver($event)"
          (drop)="onDrop(i, n, true)"
          class="calcSubsectionItem different-{{
            diferenceSectionTypeOf(calcSubsection)
          }}"
        >
          <!-- <span nz-icon nzType="close-circle" nzTheme="outline" class="remove" ></span> -->
          <span
            nz-icon
            nzType="close"
            nzTheme="outline"
            class="remove"
            title="Remover"
            (click)="removeCalcSubsection(i, n, true)"
          ></span>
          <span>
            <!-- {{ 
            calcSubsection.name ? 
            calcSubsection.name :
            calcSubsection
          }}  -->
            {{ diferenceSection(calcSubsection) }}
          </span>
        </div>
        <div nz-dropdown [nzDropdownMenu]="menu2" nz-card-grid>
          <span>
            <i class="fa fa-plus-circle" aria-hidden="true"> </i>
          </span>
          <nz-dropdown-menu #menu2="nzDropdownMenu">
            <ul nz-menu>
              <!-- *ngFor="let calcItem of typesOfCalcSubsections" -->
              <li
                nz-submenu
                [nzTitle]="'Variable'"
                class="calc-options-details"
              >
                <ul>
                  <!-- option.value.name.length > 0 ? addCalcSubsection(i, option.value) : false; -->
                  <!-- option.name.length > 0
                    ? addCalcSubsection(i, j, true)
                    : false; -->
                  <div *ngFor="let option of sections.controls; let j = index">
                    <li
                      *ngIf="
                        option.value.type === 'Número' ||
                        option.value.type === 'Calculo'
                      "
                      nz-menu-item
                      class="{{ i === j ? 'dont-show' : '' }} {{
                        option.value.name.length > 0 ? '' : 'not-add'
                      }} "
                      (click)="
                        option.value.name.length > 0
                          ? addCalcSubsection(i, j, true)
                          : false
                      "
                    >
                      {{
                        option.value.name !== ""
                          ? option.value.name
                          : "-SIN NOMBRE"
                      }}
                    </li>
                  </div>
                </ul>
              </li>
              <li
                nz-submenu
                [nzTitle]="typesOfCalcSubsections[1].label"
                class="calc-options-details"
              >
                <ul>
                  <li
                    nz-menu-item
                    *ngFor="
                      let option of typesOfCalcSubsections[1].options;
                      let j = index
                    "
                    (click)="
                      option !== '' ? addCalcSubsection(i, option, true) : false
                    "
                  >
                    {{ option !== "" ? option : "-SIN NOMBRE" }}
                  </li>
                </ul>
              </li>
            </ul>
          </nz-dropdown-menu>
        </div>
        <!-- <div nz-card-grid>Content</div>
        <div nz-card-grid>Content</div>
        <div nz-card-grid>Content</div> -->
      </div>
      <nz-collapse>
        <nz-collapse-panel
          [nzHeader]="'Formula'"
          [nzActive]="finalResult.value.length > 0 ? true : false"
        >
          <!-- <p>{{ finalResult.value | json }}</p> -->
          <span
            *ngFor="let subSecion of finalResult.value"
            class="
              {{
              diferenceSectionTypeOf(subSecion) === 'string'
                ? 'operation-color'
                : ''
            }}
            "
          >
            {{
              diferenceSectionTypeOf(subSecion) === "string"
                ? getOperationType(subSecion)
                : diferenceSection(subSecion)
            }}
          </span>
        </nz-collapse-panel>
      </nz-collapse>
    </nz-card>
    <div class="buttons-actions">
      <button nz-button type="submit" class="button submit-button">
        {{ parameterToEdit ? "Editar" : "Guardar" }}
      </button>
      <button
        nz-button
        nzDanger
        nzType="primary"
        type="button"
        class="button cancel-button"
        (click)="close()"
      >
        Cancelar
      </button>
    </div>
  </form>
</div>
