.list-group {
  max-height: 100%;
  overflow-y: auto;
}

.list-group-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.list-group-item:first-child {
  background-color: rgba(128, 128, 128, 0.1);
  font-weight: 30px;
}

.button-div {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: end;
  align-items: center;
}

.custom-button-cerrar {
  color: white;
  border-radius: 4px;
  background-color: #eb5757;
  &:hover {
    background-color: #9c3a3a;
  }
}
